$default-background: #ffff;
$text-color: #282c34;
$font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: $default-background;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  font-family: $font;
}

.wrapper .employee-list {
	display: flex;
	flex-wrap: wrap;
}
.wrapper .employees {
	flex: 1 0 25%;
  box-sizing: border-box;
  color: #171e42;
  padding: 10px;
}


ul{
  list-style: none;
}

.employee-list{
  padding: 0;
}

button{
  margin: 5px;
  border-radius: 15%;
  padding: 5px;
}

select {
  margin: 5px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #b2d6ff;
  }
  .container {
    width: 960px;
    margin: 0 auto;
  }
}
